		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'Review' | translate }}</legend>
		
			<div ng-include src="'partials/message-include.html'"></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'review.customerCode' | translate }}</th>
						<th>{{ 'review.bookId' | translate }}</th>
						<th>{{ 'review.reviewText' | translate }}</th>
						<th>{{ 'review.reviewNote' | translate }}</th>
						<th>{{ 'review.creation' | translate }}</th>
						<th>{{ 'review.lastUpdate' | translate }}</th>
						<th><a class="btn btn-info" href='#/review/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="review in reviews">
						<td>{{review.customerCode}}</td>
						<td>{{review.bookId}}</td>
						<td>{{review.reviewText}}</td>
						<td>{{review.reviewNote | number }}</td>
						<td>{{review.creation | date:'shortDate'}}</td>
						<td>{{review.lastUpdate | date:'shortDate'}}</td>
						<td><a class="btn btn-info" href="#/review/{{review.customerCode}}/{{review.bookId}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
