		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'BookOrderItem' | translate }}</legend>
		
			<div ng-repeat="success in message.successs" ng-show="message.successs.length > 0" class="alert alert-success">
       			{{ success | translate }}
			</div>
			<div ng-repeat="error in message.errors" ng-show="message.errors.length > 0" class="alert alert-danger">
       			{{error}}
			</div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'bookOrderItem.bookOrderId' | translate }}</th>
						<th>{{ 'bookOrderItem.bookId' | translate }}</th>
						<th>{{ 'bookOrderItem.quantity' | translate }}</th>
						<th>{{ 'bookOrderItem.price' | translate }}</th>
						<th><a class="btn btn-info" href='#/bookOrderItem/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="bookOrderItem in bookOrderItems.list">
						<td>{{bookOrderItem.bookOrderId}}</td>
						<td>{{bookOrderItem.bookId}}</td>
						<td>{{bookOrderItem.quantity | number }}</td>
						<td>{{bookOrderItem.price | number }}</td>
						<td><a class="btn btn-info" href="#/bookOrderItem/{{bookOrderItem.bookOrderId}}/{{bookOrderItem.bookId}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
