#Telosys-Tools properties
#Thu Apr 03 19:35:51 CEST 2014
WEB=
ENTITY_PKG=org.demo.bean
ProjectVariable.PROJECT_NAME=bookstore-angularjs
ProjectVariable.MAVEN_ARTIFACT_ID=bookstore-angularjs
TEST_SRC=
RES=
DOC=doc
DownloadsFolder=TelosysTools/downloads
TemplatesFolder=TelosysTools/templates
ROOT_PKG=org.demo
LibrariesFolder=TelosysTools/lib
SRC=
RepositoriesFolder=TelosysTools
TEST_RES=
ProjectVariable.PROJECT_VERSION=0.1
ProjectVariable.MAVEN_GROUP_ID=group.to.be.defined
TMP=tmp
