		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'Employee' | translate }}</legend>
		
			<div ng-include src="'partials/message-include.html'"></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'employee.code' | translate }}</th>
						<th>{{ 'employee.firstName' | translate }}</th>
						<th>{{ 'employee.lastName' | translate }}</th>
						<th>{{ 'employee.manager' | translate }}</th>
						<th>{{ 'employee.email' | translate }}</th>
						<th><a class="btn btn-info" href='#/employee/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="employee in employees">
						<td>{{employee.code}}</td>
						<td>{{employee.firstName}}</td>
						<td>{{employee.lastName}}</td>
						<td>{{employee.manager}}</td>
						<td>{{employee.email}}</td>
						<td><a class="btn btn-info" href="#/employee/{{employee.code}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
