
	<h3>
		{{ 'welcome' | translate }}
	</h3>

	<div ng-include src="'partials/message-include.html'"></div>
   		      
	<ul class="entity">
        <li><a href="#/author">{{ 'Author' | translate }}</a></li>
        <li><a href="#/badge">{{ 'Badge' | translate }}</a></li>
        <li><a href="#/book">{{ 'Book' | translate }}</a></li>
        <li><a href="#/bookOrder">{{ 'BookOrder' | translate }}</a></li>
        <li><a href="#/bookOrderItem">{{ 'BookOrderItem' | translate }}</a></li>
        <li><a href="#/country">{{ 'Country' | translate }}</a></li>
        <li><a href="#/customer">{{ 'Customer' | translate }}</a></li>
        <li><a href="#/employee">{{ 'Employee' | translate }}</a></li>
        <li><a href="#/employeeGroup">{{ 'EmployeeGroup' | translate }}</a></li>
        <li><a href="#/publisher">{{ 'Publisher' | translate }}</a></li>
        <li><a href="#/review">{{ 'Review' | translate }}</a></li>
        <li><a href="#/shop">{{ 'Shop' | translate }}</a></li>
        <li><a href="#/synopsis">{{ 'Synopsis' | translate }}</a></li>
        <li><a href="#/workgroup">{{ 'Workgroup' | translate }}</a></li>
    </ul>
