		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'BookOrder' | translate }}</legend>
		
			<div ng-include src="'partials/message-include.html'"></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'bookOrder.id' | translate }}</th>
						<th>{{ 'bookOrder.date' | translate }}</th>
						<th>{{ 'bookOrder.state' | translate }}</th>
						<th><a class="btn btn-info" href='#/bookOrder/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="bookOrder in bookOrders">
						<td>{{bookOrder.id}}</td>
						<td>{{bookOrder.date | date:'shortDate'}}</td>
						<td>{{bookOrder.state | number }}</td>
						<td><a class="btn btn-info" href="#/bookOrder/{{bookOrder.id}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
