#set( $_= "$" )
##--------------------------------------------------------------------------------------------------------
'use strict';

if (typeof String.prototype.endsWith !== 'function') {
    String.prototype.endsWith = function(suffix) {
        return this.indexOf(suffix, this.length - suffix.length) !== -1;
    };
}

var baseURL = 'http://localhost:8080/demo/rest';

// Declare app level module which depends on filters, and services
var myApp = angular.module('myApp', [
  'ngRoute', 
  'ngResource', 
  'ngCookies',
  'pascalprecht.translate',
  'tmh.dynamicLocale',
  'mgcrea.ngStrap.tooltip',
  'mgcrea.ngStrap.datepicker',
  'myApp.filters',
  'myApp.services',
  'myApp.directives',
  'myApp.controllers'
]);

myApp.config(['${_}routeProvider', '${_}translateProvider', 'tmhDynamicLocaleProvider', function(${_}routeProvider, ${_}translateProvider, tmhDynamicLocaleProvider) {
  ${_}routeProvider.when('/welcome', {templateUrl: 'partials/welcome.html'});
#foreach($entity in ${selectedEntities})
  ${_}routeProvider.when('/${fn.uncapitalize($entity.name)}',    {templateUrl: 'partials/${entity.name.toLowerCase()}/${entity.name.toLowerCase()}_list.html', controller: '${entity.name}Ctrl'});
  ${_}routeProvider.when('/${fn.uncapitalize($entity.name)}/new', {templateUrl: 'partials/${entity.name.toLowerCase()}/${entity.name.toLowerCase()}_form.html', controller: '${entity.name}Ctrl'});
  ${_}routeProvider.when('/${fn.uncapitalize($entity.name)}/${entity.keyAttributesNamesAsString('/', ':', '')}', {templateUrl: 'partials/${entity.name.toLowerCase()}/${entity.name.toLowerCase()}_form.html', controller: '${entity.name}Ctrl'});
#end
  ${_}routeProvider.otherwise({redirectTo: '/welcome'});

  ${_}translateProvider.useStaticFilesLoader({
    prefix: 'i18n/messages_',
    suffix: '.json'
  });
  ${_}translateProvider.preferredLanguage('en');
  ${_}translateProvider.fallbackLanguage('en');
  ${_}translateProvider.useLocalStorage();

  tmhDynamicLocaleProvider.localeLocationPattern("lib/angular/i18n/angular-locale_{{locale}}.js");
  tmhDynamicLocaleProvider.useStorage('${_}cookieStore');
}]);

myApp.controller('TranslateCtrl', ['${_}scope', '${_}translate', 'tmhDynamicLocale', '${_}route', function (${_}scope, ${_}translate, tmhDynamicLocale, ${_}route) {
  ${_}scope.changeLanguage = function (key) {
    ${_}translate.uses(key);
    tmhDynamicLocale.set(key);
    ${_}route.reload(false);
  }
}]);
