{
	"welcome" : "Accueil",

	"english" : "English",
    "french" : "Fran\u00e7ais",	
	
	"create" : "Cr\u00e9er",
	"edit" : "Modifier",
	"delete" : "Supprimer",
	"delete ok" : "Suppression r\u00e9ussie",
	"save" : "Enregistrer",
	"save ok" : "Enregistrement r\u00e9ussi",
	"cancel" : "Annuler",
#foreach( $entity in $selectedEntities )

	"${entity.name}" : "${entity.name}",
#foreach( $field in $entity.attributes )
	"${fn.uncapitalize($entity.name)}.${field.formattedName(0)}" : "${field.formattedName(0)}",
#end
#end

	"app.version" : "Version"
}