		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'Publisher' | translate }}</legend>
		
			<div ng-include src="'partials/message-include.html'"></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'publisher.code' | translate }}</th>
						<th>{{ 'publisher.name' | translate }}</th>
						<th>{{ 'publisher.email' | translate }}</th>
						<th>{{ 'publisher.contact' | translate }}</th>
						<th>{{ 'publisher.city' | translate }}</th>
						<th>{{ 'publisher.zipCode' | translate }}</th>
						<th>{{ 'publisher.phone' | translate }}</th>
						<th><a class="btn btn-info" href='#/publisher/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="publisher in publishers">
						<td>{{publisher.code}}</td>
						<td>{{publisher.name}}</td>
						<td>{{publisher.email}}</td>
						<td>{{publisher.contact}}</td>
						<td>{{publisher.city}}</td>
						<td>{{publisher.zipCode | number }}</td>
						<td>{{publisher.phone}}</td>
						<td><a class="btn btn-info" href="#/publisher/{{publisher.code}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
