		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'Author' | translate }}</legend>
		
			<div ng-include src="'partials/message-include.html'"></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'author.id' | translate }}</th>
						<th>{{ 'author.firstName' | translate }}</th>
						<th>{{ 'author.lastName' | translate }}</th>
						<th><a class="btn btn-info" href='#/author/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="author in authors">
						<td>{{author.id}}</td>
						<td>{{author.firstName}}</td>
						<td>{{author.lastName}}</td>
						<td><a class="btn btn-info" href="#/author/{{author.id}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
